:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --accent-color: #2196F3;
    --primary-text-color: #212121;
    --secondary-text-colour: #757575;
    --primary-text-color-theme-dark: #FFFFFF;
}
 
    /* ----------БАЗОВЕ СКИДАННЯ---------- */
h1,
h2,
h3,
h4,
p {
        margin-top: 0;
        margin-bottom: 0
}

ol,ul {
        margin-top: 0;
        margin-bottom: 0;
}

img {
        display: block;
}

button {
        cursor: pointer;
}

.list {
        list-style: none;
}

.link {
        text-decoration: none;
        font-style: normal;
}


/* body */
body {
font-family: var(--primary-font);
}

/* ----------HEADER---------- */

.container {
        width: 1200px;
        margin-left: auto;
        margin-right:auto;
        padding-left: 15px;
        padding-right: 15px;
        
        
        

}
.page-header-container {
        display: flex;
        align-items: center;
}

.nav-link-item {
        display: flex;
}

.list-links {
        display: flex;
        align-items: center;
        padding: 0;
}

.list-contacts {
        display: flex;
        align-items: center;
        padding: 0;
}

.logo {
       
        margin-right: 93px;
}

.link-item:not(:last-child) {
        margin-right: 50px;

}
.mail {
        margin-left: auto;
        margin-right: 50px;
       
}

.tel {
        
}
.head {
        padding-top: 24px;
        padding-bottom: 25px;
        
}


/* ----------MAIN CONTENT WEB STUDIO---------- */
.section {
        padding-top: 94px;
        padding-bottom: 94px;
}

/* -----------HERO SECTION---------- */

/* ----------BUTTONS---------- */
.button {
        color: var(--primary-text-color);

}

.button:hover,
.button:focus {
        color: var(--primary-text-color-theme-dark);
        background: var(--accent-color);
}

.hero-button {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.06em;
        color: var(--primary-text-color-theme-dark);
        background-color: var(--accent-color);
        cursor: pointer;
        width: 200px;
        

}

.hero-btn {
        padding-left: 485px;
        padding-right: 485px;
}

/* ----------SKILLS SECTION---------- */

.list-skills {
        display: flex;
        padding-left: 0;
        
       

}

.skills-title {
        margin-bottom: 10px;
}

.skills-list:not(:last-child) {
        margin-right: 30px;
        flex-basis: calc((100% - 90px) / 2);
        
}


/* links */

.nav-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
}
.nav-link:hover,
.nav-link:focus{
    color: var(--accent-color);
}

.logo {
        font-family: var(--secondary-font);
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
    
        color: var(--accent-color);
}

.second-logo {
    color: #000000;
}


.mail {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--secondary-text-colour);
}

.tel {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--secondary-text-colour);
}

.mail:hover,
.mail:focus {
    color: var(--accent-color);
}

.tel:hover,
.tel:focus {
    color: var(--accent-color);
}



/* ----------LIST---------- */


.project-item {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--primary-text-color);
}

.project-text {
        font-size: 16px;
        line-height: 1.8;
        letter-spacing: 0.03em;
        color: var(--secondary-text-colour);
}

/* footer */

.footer-logo {
    color:var(--primary-text-color-theme-dark);
}

.footer {
    background-color: #2F303A;
}

.adress-link {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--primary-text-color-theme-dark);
}

.mail-link,
.tel-link {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
}

.mail-link:hover {
    color: var(--primary-text-color-theme-dark);
}

.tel-link:hover {
    color: var(--primary-text-color-theme-dark);

}

/* index */

.hero-title {
        
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--primary-text-color-theme-dark);
        margin-left: 0px;
        margin-right: 0px;
        padding-top:106px;
        padding-left: auto;
        padding-right: auto;
        text-align: center;
        margin-bottom: 30px;
        
       
        
}

.hero {
    background-color: #2F303A;
    width: 1200px;
    height: 607px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    

}



.skills-title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--primary-text-color);
}

.skills-text {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--secondary-text-colour);
        
}

.work-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
}

.our-team {
    background-color: #F5F4FA;
    
}
 
.team-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
}

.name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
}

.job-title {
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.03em;
        color: var(--secondary-text-colour);
}